$limeGreen: hsl(163, 72%, 41%);
$brightRed: hsl(356, 69%, 56%);
$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$youtube: hsl(348, 97%, 39%);

%instagram {
  background-image: linear-gradient(
    to right,
    hsl(37, 97%, 70%),
    hsl(329, 70%, 58%)
  );
}

%Toggle {
  background-image: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
}

$Toggle: hsl(230, 22%, 74%);

@mixin lightMode {
  --bg: hsl(0, 0%, 100%); //(BG)
  --top-vg-pattern: hsl(225, 100%, 98%); //(Top BG Pattern)
  --card-bg: hsl(227, 47%, 96%); //(Card BG)
  --text1: hsl(228, 12%, 44%); //(Text)
  --text2: hsl(230, 17%, 14%); //(Text)
  --toggle: hsl(230, 22%, 74%);
  --cardHover: hsl(225, 17%, 91%);
}

@mixin darkMode {
  --bg: hsl(230, 17%, 14%); //(BG)
  --top-vg-pattern: hsl(232, 19%, 15%); //(Top BG Pattern)
  --card-bg: hsl(228, 28%, 20%); //(Card BG)
  --text1: hsl(228, 34%, 66%); //(Text)
  --text2: hsl(0, 0%, 100%); //(Text)
  --toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --cardHover: hsl(229, 26%, 24%);
}

:root,
.lightmode {
  @include lightMode();
}

.darkmode {
  @include darkMode();
}

@media (prefers-color-scheme: dark) {
  :root {
    @include darkMode();
  }
}

$laptop: 1024px;
$tablet: 768px;

@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--bg);
  font-size: 14px;
  margin: 0;
  transition: 0.3s ease all;
}

.container {
  max-width: 327px;
  margin: auto;

  @include tablet() {
    width: 78%;
    max-width: 1120px;
  }
}

p {
  margin: 0;
}

.header {
  padding-top: 40px;
  background-color: var(--top-vg-pattern);
  height: 250px;
  border-radius: 0 0 30px 30px;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet() {
      flex-direction: row;
    }
  }

  &__text {
    color: var(--text1);
    font-weight: 700;
    margin: 15px 0 25px 0;
  }
}

.title {
  font-size: 24px;
  margin: 0;
  color: var(--text2);

  &--h2 {
    color: var(--text1);
    margin-bottom: 30px;
  }
}

.mode {
  font-weight: 700;
  color: var(--text1);
  border-top: 1px solid $Toggle;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 44px;

  @include tablet() {
    border: none;
    align-items: center;
  }

  &__text {
    margin: 0;
  }

  &__toggle {
    background: var(--toggle);
    border-radius: 20px;
    width: 50px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    user-select: none;

    &:hover {
      @extend %Toggle;
      border-image-slice: 1;
    }

    @include tablet() {
      margin-left: 15px;
    }
  }

  &__ball {
    width: 20px;
    height: 20px;
    background-color: var(--bg);
    border-radius: 50%;
    margin-right: 5px;
    transform: translateX(0px);
    transition: 0.3s;
    will-change: transform;
  }
}

input[type="checkbox"] {
  display: none;
}

.checkbox:checked ~ .mode__toggle > .mode__ball {
  transform: translateX(-20px);
}

.cards {
  display: grid;
  grid-template-columns: 100%;
  gap: 25px;
  margin-top: -45px;
  margin-bottom: 52px;

  @include tablet() {
    grid-template-columns: repeat(2, 1fr);
    margin-top: -100px;
  }

  @include laptop() {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background-color: var(--card-bg);
  height: 211px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-top: 5px solid;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: var(--cardHover);
  }

  &__user {
    display: flex;
    align-items: center;
    color: var(--text1);
    font-weight: 700;
    font-size: 13px;
  }

  &__icon {
    margin-right: 11px;
  }

  &__number {
    margin: 0;
  }

  &__followers {
    font-size: 50px;
    text-align: center;
    color: var(--text2);
    font-weight: 700;
  }

  &__span {
    font-size: 10px;
    display: block;
    font-weight: 400;
    color: var(--text1);
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  &__today {
    display: flex;
    align-items: center;
    color: $limeGreen;
    font-weight: 700;
  }

  &__today--red {
    color: $brightRed;
  }

  &__arrow {
    margin-right: 6px;
  }

  &:nth-child(1) {
    border-color: $facebook;
  }

  &:nth-child(2) {
    border-color: $twitter;
  }

  &:nth-child(3) {
    border: none;
  }

  &:nth-child(3)::before {
    content: "";
    height: 5px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    @extend %instagram;
  }

  &:nth-child(4) {
    border-color: $youtube;
  }
}

.cards-view {
  margin-bottom: 47px;
  display: grid;
  gap: 20px;

  @include tablet() {
    grid-template-columns: repeat(2, 1fr);
  }

  @include laptop() {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card-view {
  height: 127px;
  background-color: var(--card-bg);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: var(--cardHover);
  }

  &__content {
    width: 85%;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text1);
    font-weight: 700;
  }

  &__numbers {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__total {
    display: flex;
    align-items: center;
    color: $limeGreen;
    font-weight: 700;
  }

  &__sum {
    font-size: 30px;
    font-weight: 700;
    color: var(--text2);
  }

  &__new {
    font-size: 12px;
    margin-left: 3px;
  }

  &__new--down {
    color: $brightRed;
  }
}
